POSTGRES_DB=<YOUR_DATABASE_NAME>
POSTGRES_USER=<YOUR_USERNAME>
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_HOST=<NAME_OF_DATABASE_SERVICE_FROM_DOCKER_COMPOSE -> in my case: db>
POSTGRES_PORT=<PORT_OF_DATABASE_FROM_DOCKER_COMPOSE -> in my case: 5432>
SECRET_KEY=<YOUR_SECRET_KEY>
DEBUG=1
